@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
*{
  margin: 0;
  padding: 0;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 90%);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  padding: 20px 130px 20px 50px;
  border-radius: 0px 0px 170px 0px;
}
header {
  margin-left: -60px;
}
label small {
  position: absolute;
  margin-left: 20px;
  color: hsl(0, 1%, 44%);
}
input {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin-top: 25px;
  max-width: 100px;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  margin-left: 20px;
  border: 1.5px solid hsl(0, 0%, 86%);
  cursor: pointer;
 
}
input:focus{
  outline: 1.5px solid hsl(259, 100%, 65%);
}
header span {
  position: absolute;
  margin-top: 85px;
  font-style: italic;
  font-size: small;
  margin-left: -127px;
  color: red;
}
hr {
  width: 498px;
  position: absolute;
  margin-top: 38px;
  border: 1px solid hsl(0, 0%, 86%);
}
button {
  background-color: hsl(259, 100%, 65%);
  margin-left: 500px;
  border: none;
  float: right;
  border-radius: 50%;
  padding: 20px;
  margin-right: -100px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(63, 61, 61);
}
.spanday,
.spanmonth,
.spanyear {
  color: hsl(259, 100%, 65%);
}

main div {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  margin-left: -200px;
}

@media (max-width: 710px) {
  body{
    padding: 10px;
  }
  .content {
    padding: 30px 30px 30px 60px;
    border-radius: 0px 0px 70px 0px;
    margin-right: 10px;
  }
  header {
    margin-left: -40px;
  }
  input {
    margin-left: 5px;
    width: 55px;
    padding: 13px 15px;
    font-size: 23px;
    margin-bottom: 25px;
    font-weight: 800;
  }
  hr {
    width: 250px;
    position: relative;
    margin-left: -30px;
  }
  header span {
    margin-top: 87px;
    font-style: italic;
    font-size: 10px;
    margin-left: -87px;
  }
 .middle{
  margin-left: -6px;
 }
  button {
    z-index: 1;
    position: absolute;
    margin-left: 60px;
    padding: 10px;
    margin-bottom: 0px;
  }
  main div {
    font-weight: 800;
    font-size: 48px;
    margin-left: 0px;
    margin-top: 10px;
  }
  main {
    margin-top: 30px;
  }
  main div {
    margin-left: -20px;
  }
}
